<div class="main users-edit">
  <div class="container">
    <div class="form-heading">問題</div>
    <div class="form users-form">
      <div class="form-body">
          ジャンル<%= @genres[@quiz.genre_id-1] %>
          No <%= @count %>
          <br /><%= @quiz.content %>
          <%= form_tag("/contents/answer", method: :get) do %>
            <input type="hidden" name="quiz_id" value="<%= @quiz.id %>">
            <% @quiz_Array.shuffle.each do |answer| %>
              <input type="submit" name="answer" value="<%= answer %>">
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>

<%= session.to_hash %>