<div class="main users-edit">
  <div class="container">
    <div class="form-heading">問題</div>
    <div class="form users-form">
      <div class="form-body">
        <% @quiz.each do |qui| %>
        <!-- このクイズ配列はコントローラー側でいけるかも -->
          <% quiz_Array = [qui.answer1,qui.answer2,qui.answer3,qui.answer4] %>
          No<%= @i %>
          ジャンル<%= @genres[qui.genre_id-1] %>
          <br /><%= qui.content %>
          <%= form_tag("/contents/answer", {multipart: true}) do %>
            <input type="hidden" name="quiz_id" value="<%= qui.id %>">
            <% quiz_Array.shuffle.each do |answer| %>
              <input type="submit" name="answer" value="<%= answer %>">
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>