<div class="main users-edit">
  <div class="container">
    <div class="form-heading">アカウント編集</div>
    <div class="form users-form">
      <div class="form-body">
        <%= form_tag("/content/answer", {multipart: true}) do %>
          <% @quiz.each do |qui| %>
          No<%= @i %>
          ジャンル<%= @genres[qui.genre_id-1] %>
          <br /><%= qui.content %>
          <%= form_tag("/contents/create", {multipart: true}) do %>
          <p>ユーザー名</p>
          <input name="name" value="<%= @user.name %>">
          
          <input type="submit" name="answer2" value="保存">
          <input type="submit" name="answer2" value="保存">
          <input type="submit" name="answer3" value="保存">
          <input type="submit" name="answer4" value="保存">
          <input type="submit" value="保存">
        <% end %>
        
          <input type="submit" value="保存">
          <% end  %>
        <% end %>
      </div>
    </div>
  </div>
</div>