<div class="form">
<%= form_with url: login_users_url, local: true do |f| %>
  <div class="form-body">
    <%= f.text_field :email, placeholder: "Eメール" %><br>
    <%= f.password_field :password, placeholder: "パスワード" %><br>
    <div class="form-error">
      <%= @error_message %>
    </div>
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
