<div class="form">
<%= form_with model: @user, local: true do |f| %>
  <div class="form-body">
      <div class="form-error">
        <%= @error_message %>
      </div>
      <%= f.text_field :name, placeholder: "ニックネーム" %>
      <%= f.text_field :email, placeholder: "Eメール" %>
      <%= f.password_field :password, placeholder: "パスワード" %>
      <%= f.hidden_field :image_name, value: "default_user.jpg" %>
      <%= f.submit "登録", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
