<!DOCTYPE html>
<html>
<head>
  <title>QuizApp</title>
  <%= csrf_meta_tags %>
<!-- 'data-turbolinks-track': 'reload'  -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= render 'layouts/shim' %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <script src="https:///use.fontawesome.com/926fe18a63.js"></script>
</head>
<body>
  <%= render 'layouts/header' %>
  <% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
  <% end %>
  <%= yield %>
</body>
</html>
